CHICAGO_SOCRATA_APP_TOKEN=replace-with-chicago-app-token
CHICAGO_SOCRATA_SECRET_TOKEN=replace-with-chicago-secret-token
COOK_SOCRATA_APP_TOKEN=replace-with-cook-county-app-token
COOK_SOCRATA_SECRET_TOKEN=replace-with-cook-county-secret-token
CENSUS_API_KEY=replace-with-census-api-key
